.button {
    align-items: center;
    background-color: rgba(255,255,255,.2);
    border-radius: 6px;
    color: #fff;
    display: inline-flex;
    flex-flow: row;
    font-size: 32px;
    font-weight: 700;
    justify-content: center;
    line-height: 40px;
    padding: 24px 40px;
    transition: transform .3s var(--weightedEaseInOut);
    
    &.focused {
        background-color: #fff;
        color: #000;
        transform: scale(1.125);
    }
}

.button + .button {
    margin-left: 36px;
}