.onramp-breadcrumbs {
    list-style: none;
    display: flex;
    padding: 0;
  
    > li {
        align-items: center;
        color: #fff;
        display: inline-flex;
        font-size: 24px;
        font-weight: 700;
        justify-content: center;

        &.num {
            margin-right: 14px;
            
            &:last-child {
                margin-left: 6px; // 14-8
            }
        }

        &:not(.num) {
            background-color: #fff;
            border-radius: 4px;
            height: 3.5px;
            margin-right: 8px;
            opacity: 0.3;
            width: 60px;
            align-self: center;
        }

        &.complete {
            font-weight: 500;
            opacity: 1;
        }
    }
}